* {
    box-sizing: border-box;
}

.time {
    width: 50%;
    height: 56px;
    left: 92px;
    top: 780px;
    display: flex;
    align-items: center;
}

.time_h2 {
    font-family: 'Martel Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #3F4255;
}