* {
    box-sizing: border-box;
}

.special_button {
    height: 6.25vh;
    border-radius: 4px;
    margin-right: 0;
    padding: 16px 24px 16px 24px;
    background-color: #F2F4FA;
    font-family: 'Martel Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #9093A6;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
}