* {
    box-sizing: border-box;
}

.special {
    width: 87%;
    margin-left: 6.4%;
}

.special_title {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.special .showListClass{
    display: none;
}

.special .showListActive{
    display: block;
}

